# Python
*.pyc
*.pyo
__pycache__/

# Virtualenv
venv/
*.venv/
ENV/
env/
.venv/
.env
.env.*
db.sqlite3

# Logs
*.log

# Static and media files
/staticfiles/
/media/

# Local SQLite

# Django
*.pid

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Docker
docker-compose.override.yml
